/* loginpage css */
.loginpage{
  background-image: linear-gradient(#ffffff45, rgba(255, 255, 255, 0.3)), url('./../../assets/images/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
form.logform {
  padding: 9em;
  background: rgba(255, 255, 255, 0.47);
}
.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button.btn.sigin {
  margin-right: 1em;
  background: #3487b7;
  color: #fff;
  height: 33px;
  width: 79px;
  font-size: 15px;
}
button.btn.register {
  margin-right: 1em;
  background: #3487b7;
  color: #fff;
  height: 33px;
  width: 79px;
  font-size: 15px;
}
/* loginpage css */