<!-- Loginform -->
<div class="loginpage">
  <img src="../../assets/images/mefylogo.png" class="mefycareloglogo">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="container">
    <div class="formContent">
      <div class="headerlogin">
        <h1>Let's get started now!</h1>
        <p>Or <b>create an account</b> if not registered yet</p>
      </div>
      <div class="logosvg">
        <svg version="1.1" id="pharmacy" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <polygon style="fill:#EF5959;" points="512,159.869 352.131,159.869 352.131,0 159.869,0 159.869,159.869 0,159.869 0,352.131 
       159.869,352.131 159.869,512 352.131,512 352.131,352.131 512,352.131 " />
        </svg>

      </div>
      <form class="logform" [formGroup]="loginForm" *ngIf="phoneshow">
        <div class="row">
          <div class="form-group">
            <label class="phone">Phone No.</label>
            <input type="text" class="form-control phoneinput" id="phone" [textMask]="{mask: mask, guide: false}" formControlName="phoneNumber"
              minlength="10">
            <p class="errormessage" *ngIf="loginFormErrors.phoneNumber.minlength">Please Enter valid Phone Number</p>
            <p class="errormessage" *ngIf="loginFormErrors.phoneNumber.required || (loginForm.controls.phoneNumber.pristine && submitted)">Number
              can not be empty</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn sigin" (click)="saveLoginForm()">Log in</button>
          </div>
        </div>
      </form>

      <form class="logform" [formGroup]="userForm" *ngIf="nameshow">
        <div class="row">
          <div class="form-group">
            <label class="phone">Name</label>
            <input type="text" class="form-control phoneinput" id="name" formControlName="name" >
            <p class="errormessage" *ngIf="userFormErrors.name.required || (userForm.controls.name.pristine && submitted)">Name can not be empty</p>
          </div>
          <div class="text-center">
            <button type="submit" class="btn sigin" (click)="saveUserForm()">Submit</button>
          </div>
        </div>
       
      </form>


    </div>
  </div>
</div>
<!-- Loginform -->