<!-- createpharmacyform -->
<div class="createpharmacy">
  <div class="container">
    <div class="formContent">
      <form  [formGroup]="pharmacyForm" class="logformp">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>Pharmacy Name</label>
              <input formControlName="pharmacyName" type="text" class="form-control">
              <p class="errormessage" *ngIf="pharmacyFormErrors.pharmacyName.required || (pharmacyForm.controls.pharmacyName.pristine && submitted)">Name can not be empty</p>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Primary Contact:</label>
              <input formControlName="primaryContact" type="text" class="form-control">
              <p class="errormessage" *ngIf="pharmacyFormErrors.primaryContact.required || (pharmacyForm.controls.primaryContact.pristine && submitted)">Nuber can not be empty</p>
            </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>Alternate Contact:</label>
              <input formControlName="alternateContact" type="text" class="form-control">
              <!-- <p class="errormessage" *ngIf="pharmacyFormErrors.pharmacyName.required || (pharmacyForm.controls.pharmacyName.pristine && submitted)">Name can not be empty</p> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Street:</label>
              <input type="text" class="form-control" formControlName="street">
              <p class="errormessage" *ngIf="pharmacyFormErrors.street.required || (pharmacyForm.controls.street.pristine && submitted)">Street can not be empty</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label>City:</label>
              <input type="text" class="form-control" formControlName="city">
              <p class="errormessage" *ngIf="pharmacyFormErrors.city.required || (pharmacyForm.controls.city.pristine && submitted)">City can not be empty</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Country:</label>
              <input type="text" class="form-control"formControlName="country">
              <p class="errormessage" *ngIf="pharmacyFormErrors.country.required || (pharmacyForm.controls.country.pristine && submitted)">Country can not be empty</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6">
        <div class="form-group">
          <label>Zipcode:</label>
          <input type="text" class="form-control" formControlName="zipCode">
          <p class="errormessage" *ngIf="pharmacyFormErrors.zipCode.required || (pharmacyForm.controls.zipCode.pristine && submitted)">Zip code can not be empty</p>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          <label>Email:</label>
          <input type="text" class="form-control" formControlName="email">
          <p class="errormessage" *ngIf="pharmacyFormErrors.email.required || (pharmacyForm.controls.email.pristine && submitted)">Email can not be empty </p>
          <p class="errormessage" *ngIf=" pharmacyFormErrors.email.email">Email format should be email type</p>

        </div>
      </div>
    </div>
        
    <div class="col-md-12">
        <div class="col-md-6">
    <div class="form-group">
      <label>Degree file:</label>
      <input type="file" class="form-control" formControlName="degree">
      <p class="errormessage" *ngIf="pharmacyFormErrors.degree.required || (pharmacyForm.controls.degree.pristine && submitted)"> Degree can not be empty</p>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
      <label>Drug License:</label>
      <input type="file" class="form-control" formControlName="drug">
      <p class="errormessage" *ngIf="pharmacyFormErrors.drug.required || (pharmacyForm.controls.drug.pristine && submitted)">Drug License can not be empty </p>

    </div>
  </div>
</div>
<div class="col-md-12" id="pl0">
    <div class="col-md-12">
    <div class="form-group">
      <label>Trade License:</label>
      <input type="file" class="form-control" formControlName="trade">
      <p class="errormessage" *ngIf="pharmacyFormErrors.trade.required || (pharmacyForm.controls.trade.pristine && submitted)">Trade License can not be empty </p>

    </div>
    </div>
  </div>



        <div class="text-center">
          <button type="submit" class="btn phsigin"(click)="savePharmacyForm()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- createpharmacyform -->