/* createpharmacy css */
.createpharmacy{
      background: #2193b0;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      /* height: 100vh; */
  }
  form.logformp {
    padding: 2em 0 1em 0;
    background: #fff;
    overflow-y: scroll;
    margin-top: 4em;
  }
  .formContent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  button.btn.phsigin {
    margin-right: 1em;
    background: #399cb8;
    color: #fff;
    height: 33px;
    width: 79px;
    font-size: 15px;
    margin-top: 2em;
 
    
}
.black-overlay {
  position: fixed !important;
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; */
  /* z-index: 9; */
}
  
  /* createpharmacy css */