<!-- pharmacylist  -->
<section>
    <div class="container">
  <h1 class="headerList">Pharmacy List</h1>
  <div>
      <a [routerLink]="['/createpharmacy']"><button class="createform">+</button></a>
  </div>
  <div >
   
      <table class="pharmaTable">
        <tbody>
        <tr>
          <th>Pharmacy Name:</th>
          <th>Role:</th>
        </tr>
        <!-- <div  *ngFor="let list of pharmacylist; let i=index"> -->
        <tr *ngFor="let list of pharmacyList ; let i=index" >
          <td>{{ list?.pharmacy.pharmacyName}}</td>
          <td>{{ list?.role}}</td>
        </tr>
        <!-- </div> -->
      </tbody>
      </table>
    </div>
  </div>
</section>
<!-- pharmacylist  -->