button.createform {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    float: right;
    margin: 1em 0;
    font-size: 24px;
    font-weight: 700;
  }
  table.pharmaTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table.pharmaTable td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    /* background-color: #fff; */
  }
  table.pharmaTable tr:nth-child(even) {
    background-color: #dddddd;
  }
  h1.headerList {
    text-align: center;
    font-size: 30px;
    color: #337ab7;
    font-style: italic;
}
  .red{
    color: blue
  }
  button.logoutp {
    float: right;
    margin: 1em;
    background: #428bca;
    border-radius: 50px;
    outline: none;
    height: 35px;
    width: 76px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }
  /* table.pharmacyTable tr:hover {
    background-color: rgba(51, 122, 183, 0.18) !important;
  } */
  tr.ng-star-inserted:hover {
    background-color: rgba(51, 122, 183, 0.8) ;
    cursor:pointer;
  }