<!-- pharmacylist  -->
<section>
    <div class="container">
  <h1 class="headerList">Pharmacy List</h1>
  <div>
      <a [routerLink]="['/createpharmacy']"><button class="createform">+</button></a>
  </div>
  <div>
   
      <table class="pharmaTable">
        <tr>
          <th>Pharmacy Name:</th>
          <th>Role:</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
        </tr>
      </table>
    </div>
  </div>
</section>
<!-- pharmacylist  -->