<!-- Pharmacy Dashboard -->
<button class="logoutp" (click)="logout()">Logout</button>

<div class="container">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <div class="row">
    <h1 class="col-md-6">Pharmacy Dashboard</h1>
    <button class="logout col-md-6" (click)="logout()">Logout</button>
  </div>
  <div id="exTab1" class="container">
    <ul class="nav nav-pills pharmacyBoard">
      <li>
        <a href="#1a" data-toggle="tab" (click)="getAllDrug()">Drug Type</a>
      </li>
      <li>
        <a href="#2a" data-toggle="tab" (click)="getMedicineMaster()">Medicine Master</a>
      </li>
      <li>
        <a href="#3a" data-toggle="tab" (click)="getPharmacyItemList()">Pharmacy Item</a>
      </li>
      <li>
        <a href="#4a" data-toggle="tab" (click)="getAllManufactureList()">Manufacturer</a>
      </li>
      <li>
        <a href="#5a" data-toggle="tab" (click)="getAllVendor()">Vendor</a>
      </li>
      <li class="active">
        <a href="#6a" data-toggle="tab" (click)="getPharmacyDetail()">Pharmacy Details</a>
      </li>
      <li>
        <a href="#7a" data-toggle="tab">Users</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <!-- ****DRUG TYPE FORM(START) ****-->
      <div class="tab-pane" id="1a">
        <div>
          <button class="createform" data-toggle="modal" data-target="#myModal">+</button>
        </div>
        <!--- DRUG  Modal -->
        <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Drug</h4>
              </div>
              <div class="modal-body">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                <form [formGroup]="drugtypeForm" class="drugType">
                  <div class="drugT">
                    <label class="dT">Drug Type:</label>
                    <input type="text" formControlName="type" class="form-control" maxlength="20">
                    <p class="errormessage" *ngIf="drugtypeFormErrors.type.required || (drugtypeForm.controls.type.pristine && submitted)">drugtype
                      can not be empty</p>
                  </div>
                  <div>
                    <p class="desc">Description:</p>
                    <textarea rows="4" cols="50" formControlName="description" maxlength="150" placeholder="Enter description here..." maxlength="250"></textarea>
                    <p class="errormessage" *ngIf="drugtypeFormErrors.description.required || (drugtypeForm.controls.description.pristine && submitted)">description
                      can not be empty</p>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveDrugForm()">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div>
          <table class="pharmacyTable">
            <tr>
              <th>Drug Type</th>
              <th>Drug Description</th>
            </tr>
            <tr *ngFor="let item of drugList | paginate:  { id: 'drugpagination',itemsPerPage: 10, currentPage: p } ">
              <td>{{item.type}}</td>
              <td>{{item.description}}</td>
            </tr>
          </table>
          <pagination-controls id="drugpagination" (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
      <!-- ****DRUG TYPE FORM(END) ****-->
      <!-- ****MEDICINE MASTER FORM(START) ****-->
      <div class="tab-pane" id="2a">
        <div>
          <button class="createform" data-toggle="modal" data-target="#myModal1">+</button>
        </div>
        <!-- MEDICINE Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Medicine Master</h4>
              </div>
              <div class="modal-body">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                <form class="medicineMaster" [formGroup]="medicineForm">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name:</label>
                      <input type="text" class="form-control" formControlName="name">
                      <p class="errormessage" *ngIf="medicineFormErrors.name.required || (medicineForm.controls.name.pristine && submitted)">Name
                        can not be empty</p>

                    </div>
                    <div class="col-md-6">
                      <label>Form:</label>
                      <input type="text" class="form-control" formControlName="form">
                      <p class="errormessage" *ngIf="medicineFormErrors.form.required || (medicineForm.controls.form.pristine && submitted)">Form
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Rx Name:</label>
                      <input type="text" class="form-control" formControlName="rxname">
                      <p class="errormessage" *ngIf="medicineFormErrors.rxname.required || (medicineForm.controls.rxname.pristine && submitted)">Rx
                        name can not be empty</p>

                    </div>
                    <div class="col-md-6">
                      <label>Description:</label>
                      <input type="text" class="form-control" formControlName="description" maxlength="250">
                      <p class="errormessage" *ngIf="medicineFormErrors.description.required || (medicineForm.controls.description.pristine && submitted)">Description
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Manufacturer:</label>

                      <!-- custom template -->
                      <ng-template #customItemTemplate let-model="item" let-index="index">
                        <h5>{{ model.name }} , {{model.address.city}} </h5>
                      </ng-template>
                      <!-- custom templte ends -->

                      <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre> -->
                      <input class="form-control" [typeaheadItemTemplate]="customItemTemplate" formControlName="manufacturer" (typeaheadOnSelect)="manufacturerOnSelect($event)"
                        typeaheadOptionField="name" [typeahead]="manuactureList" class="form-control" (typeaheadNoResults)="typeaheadNoManufactureResults($event)">
                      <p class="errormessage" *ngIf="medicineFormErrors.manufacturer.required || (medicineForm.controls.manufacturer.pristine && submitted)">Manufacturer
                        can not be empty</p>
                      <div class="alert alert-danger" *ngIf="noManufactureResult">No Results Found</div>
                    </div>
                    <div class="col-md-6">
                      <label>Drug Type:</label>

                      <!-- custom template -->
                      <ng-template #customDrugTemplate let-model="item" let-index="index">
                        <h5>{{ model.type }} </h5>
                      </ng-template>
                      <!-- custom templte ends -->

                      <!-- <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre> -->
                      <input class="form-control" formControlName="drugtype" [typeaheadItemTemplate]="customDrugTemplate" (typeaheadOnSelect)="drugtypeOnSelect($event)"
                        typeaheadOptionField="type" [typeahead]="drugList" class="form-control" (typeaheadNoResults)="typeaheadNoDrugResults($event)">
                      <div class="alert alert-danger" *ngIf="noDrugResult">No Results Found</div>
                      <p class="errormessage" *ngIf="medicineFormErrors.drugtype.required || (medicineForm.controls.drugtype.pristine && submitted)">Drugtype
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Condition:</label>
                      <input type="text" class="form-control" formControlName="condition">
                      <p class="errormessage" *ngIf="medicineFormErrors.condition.required || (medicineForm.controls.condition.pristine && submitted)">Condition
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Precaution:</label>
                      <input type="text" class="form-control" formControlName="precaution">
                      <p class="errormessage" *ngIf="medicineFormErrors.precaution.required || (medicineForm.controls.precaution.pristine && submitted)">Precaution
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Direction:</label>
                      <input type="text" class="form-control" formControlName="direction">
                      <p class="errormessage" *ngIf="medicineFormErrors.direction.required || (medicineForm.controls.direction.pristine && submitted)">Direction
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Strength:</label>
                      <input type="text" class="form-control" formControlName="strength">
                      <p class="errormessage" *ngIf="medicineFormErrors.strength.required || (medicineForm.controls.strength.pristine && submitted)">Strength
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Unit:</label>
                      <input type="text" class="form-control" formControlName="unit">
                      <p class="errormessage" *ngIf="medicineFormErrors.unit.required || (medicineForm.controls.unit.pristine && submitted)">Unit
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Quantity:</label>
                      <input type="text" class="form-control" formControlName="quantity">
                      <p class="errormessage" *ngIf="medicineFormErrors.quantity.required || (medicineForm.controls.quantity.pristine && submitted)">Quantity
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>GST Rate:</label>
                      <input type="text" class="form-control" formControlName="gstrate">
                      <p class="errormessage" *ngIf="medicineFormErrors.gstrate.required || (medicineForm.controls.gstrate.pristine && submitted)">Gst
                        rate can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Substitute:</label>
                      <tag-input formControlName="substitute" (onAdd)="onSubstistueAdd($event)" onlyFromAutocomplete="true" blinkIfDupe="true">
                        <tag-input-dropdown [appendToBody]="false" [identifyBy]="'medId'" [displayBy]="'medicineName'" [showDropdownIfEmpty]="true"
                          placeholder="Choose Substitute Medicine" [autocompleteItems]="arrayOfObjects">
                        </tag-input-dropdown>
                      </tag-input>
                      <!-- <p class="errormessage" *ngIf="medicineFormErrors.substitute.required || (medicineForm.controls.substitute.pristine && submitted)">Substitute can not be empty</p> -->
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveMedicineForm()">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div>
          <table class="pharmacyTable scroll">
            <tr>
              <th>Name</th>
              <th>Form</th>
              <th>Rx Name</th>
              <th>Description</th>
              <th>Manufacturer</th>
              <th>Drug Type</th>
              <th>Condition</th>
              <th>Precaution</th>
              <th>Direction</th>
              <th>Strength</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Substitute</th>
              <th>GST Rate</th>
            </tr>
            <tr *ngFor="let list of medicineList | paginate: { id: 'medicinePagination',itemsPerPage: 2, currentPage: medicineMasterPage }  ">
              <td>{{list.name}}</td>
              <td>{{list.form}}</td>
              <td>{{list.rxname}}</td>
              <td>{{list.description}}</td>
              <td>{{list.manufacturer?.gstin}}</td>
              <td>{{list.drugtype.type}}</td>
              <td>{{list.condition}}</td>
              <td>{{list.precaution}}</td>
              <td>{{list.direction}}</td>
              <td>{{list.strength}}</td>
              <td>{{list.unit}}</td>
              <td>{{list.quantity}}</td>
              <td>{{list?.substitute}}</td>
              <td>{{list.gstrate}}</td>
            </tr>
          </table>
          <pagination-controls id="medicinePagination" (pageChange)="medicineMasterPage = $event"></pagination-controls>
        </div>

      </div>
      <!-- ****MEDICINE MASTER FORM(END) ****-->
      <!-- ****PHARMACY ITEM FORM(START) ****-->
      <div class="tab-pane" id="3a">

        <div>
          <button class="createform" data-toggle="modal" data-target="#myModal3">+</button>
        </div>
        <!-- PHARMACY Modal -->
        <div class="modal fade" id="myModal3" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Pharmacy Item</h4>
              </div>
              <div class="modal-body">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                <form class="pharmacyitem" [formGroup]="pharmacyItemForm">
                  <div class="row">
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Medicine:</label>
                      <!-- custom template -->
                      <ng-template #customPharmacyTemplate let-model="item" let-index="index">
                        <h5>{{ model.name }} </h5>
                      </ng-template>
                      <!-- custom templte ends -->
                      <input class="form-control" 
                      [typeaheadItemTemplate]="customPharmacyTemplate" 
                      formControlName="medicineId" 
                      (typeaheadOnSelect)="onMedicineSelect($event)"
                      typeaheadOptionField="name" 
                      [typeahead]="medicineList"
                       class="form-control"
                      (typeaheadNoResults)="typeaheadNoDrugResults($event)">
                      <div class="alert alert-danger" *ngIf="noDrugResult">No Results Found</div>
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.medicineId.required || (pharmacyItemForm.controls.medicineId.pristine && submitted)">
                       Medicine name can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Safety Stock:</label>
                      <input type="text" class="form-control" formControlName="safetyStock">
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.safetyStock.required || (pharmacyItemForm.controls.safetyStock.pristine && submitted)">
                     Stock can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Min-Max:</label>
                      <input type="text" class="form-control" formControlName="minMax">
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.minMax.required || (pharmacyItemForm.controls.minMax.pristine && submitted)">
                      can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Lead Time:</label>
                      <input type="text" class="form-control" formControlName="leadTime">
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.leadTime.required || (pharmacyItemForm.controls.leadTime.pristine && submitted)">
                          Lead time can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Supplier:</label>
                      <!-- custom template -->
                      <ng-template #customSupplierTemplate let-model="item" let-index="index">
                        <h5>{{ model.name }} </h5>
                      </ng-template>
                      <!-- custom templte ends -->

                      <input type="text" class="form-control" [typeaheadItemTemplate]="customSupplierTemplate" (typeaheadOnSelect)="onSupplierSelect($event)"
                        formControlName="supplier" typeaheadOptionField="name" [typeahead]="vendorList" class="form-control"
                        (typeaheadNoResults)="typeaheadNoSupplierResults($event)">
                        <div class="alert alert-danger" *ngIf="noSupplierResult">No Results Found</div>
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.supplier.required || (pharmacyItemForm.controls.supplier.pristine && submitted)">
                     Supplier can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Bin ID:</label>
                      <input type="text" class="form-control" formControlName="binId">
                      <p class="errormessage" *ngIf="pharmacyItemFormErrors.binId.required || (pharmacyItemForm.controls.binId.pristine && submitted)">
                          Bin Id can not be empty</p>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)=" closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="savePharmacyItem()">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

        <div>
          <table class="pharmacyTable">
            <tr>
              <th>Medicine:</th>
              <th>Safety Stock:</th>
              <th>Min-Max:</th>
              <th>Lead Time:</th>
              <th>Supplier:</th>
              <th>Bin ID:</th>
            </tr>
            <tr *ngFor="let list of pharmacyItemList | paginate: { id: 'pharmacyPagination',itemsPerPage: 5, currentPage: pharmacyPage }  ">
              <td>{{list.medicineId.name}}</td>
              <td>{{list.safetyStock}}</td>
              <td>{{list.minMax}}</td>
              <td>{{list.leadTime}}</td>
              <td>{{list.supplier?.name}}</td>
              <td>{{list.binId}}</td>
            </tr>
          </table>
          <pagination-controls id="pharmacyPagination" (pageChange)="pharmacyPage = $event"></pagination-controls>

        </div>
      </div>
      <!-- ****PHARMACY ITEM FORM(END) ****-->
      <!-- ****MANUFACTURER FORM(START) ****-->
      <div class="tab-pane" id="4a">
        <div>
          <button class="createform" data-toggle="modal" data-target="#myModal4">+</button>
        </div>
        <!-- MANUFACTURE Modal -->
        <div class="modal fade" id="myModal4" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Manufacturer</h4>
              </div>
              <div class="modal-body">
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" class="ngfixed" type="ball-scale-multiple">
                  <p style="font-size: 20px; color: white">Loading...</p>
                </ngx-spinner>
                <form class="pharmacyitem" [formGroup]="manuactureForm">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name:</label>
                      <input type="text" class="form-control" formControlName="name">
                      <p class="errormessage" *ngIf="manufactureFormerrors.name.required || (manuactureForm.controls.name.pristine && submitted)">Name
                        can not be empty</p>

                    </div>
                    <div class="col-md-6">
                      <label>GSTIN:</label>
                      <input type="text" class="form-control" formControlName="gstin">
                      <p class="errormessage" *ngIf="manufactureFormerrors.gstin.required || (manuactureForm.controls.gstin.pristine && submitted)">Gstin
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Contact Name:</label>
                      <input type="text" class="form-control" formControlName="contactName">
                      <p class="errormessage" *ngIf="manufactureFormerrors.contactName.required || (manuactureForm.controls.contactName.pristine && submitted)">Contact
                        name can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Contact Number:</label>
                      <input type="text" class="form-control" [textMask]="{mask: mask, guide: false}" formControlName="contactNumber" minlength="10">
                      <p class="errormessage" *ngIf="manufactureFormerrors.contactNumber.minlength">Please Enter valid Phone
                        Number
                      </p>
                      <p class="errormessage" *ngIf="manufactureFormerrors.contactNumber.required || (manuactureForm.controls.contactNumber.pristine && submitted)">Contact
                        number can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Street:</label>
                      <input type="text" class="form-control" formControlName="street">
                      <p class="errormessage" *ngIf="manufactureFormerrors.street.required || (manuactureForm.controls.street.pristine && submitted)">Street
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>City:</label>
                      <input type="text" class="form-control" formControlName="city">
                      <p class="errormessage" *ngIf="manufactureFormerrors.city.required || (manuactureForm.controls.city.pristine && submitted)">City
                        can not be empty</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Country:</label>
                      <input type="text" class="form-control" formControlName="country">
                      <p class="errormessage" *ngIf="manufactureFormerrors.country.required || (manuactureForm.controls.country.pristine && submitted)">Country
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Zipcode:</label>
                      <input type="text" class="form-control" formControlName="zipcode">
                      <p class="errormessage" *ngIf="manufactureFormerrors.zipcode.required || (manuactureForm.controls.zipcode.pristine && submitted)">Zip
                        code can not be empty</p>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveManufactureForm()">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div>
          <table class="pharmacyTable">
            <tr>
              <th>Name:</th>
              <th>Gstin:</th>
              <th>Contact Name:</th>
              <th>Contact Number:</th>
              <th>Street:</th>
              <th>City:</th>
              <th>Country:</th>
              <th>Code:</th>
            </tr>
            <tr *ngFor="let list of manuactureList | paginate: { id: 'manufacturePagination',itemsPerPage: 5, currentPage: manufacturePage }  ">
              <td>{{list.name}}</td>
              <td>{{list.gstin}}</td>
              <td>{{list.contactName}}</td>
              <td>{{list.contactNumber}}</td>
              <td>{{list.address.street}}</td>
              <td>{{list.address.city}}</td>
              <td>{{list.address.country}}</td>
              <td>{{list.address.zipcode}}</td>
            </tr>
          </table>
          <pagination-controls id="manufacturePagination" (pageChange)="manufacturePage = $event"></pagination-controls>

        </div>
      </div>
      <!-- ****MANUFACTURER FORM(END) ****-->
      <!-- ****VENDOR FORM(START) ****-->
      <div class="tab-pane" id="5a">
        <div>
          <button class="createform" data-toggle="modal" data-target="#myModal5">+</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal5" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-vertical-centered">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Vendor</h4>
              </div>
              <div class="modal-body">
                <form [formGroup]="vendorForm" class="pharmacyitem">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name:</label>
                      <input formControlName="name" type="text" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.name.required || (vendorForm.controls.name.pristine && submitted)">Name
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>GSTIN:</label>
                      <input formControlName="gstin" type="text" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.gstin.required || (vendorForm.controls.gstin.pristine && submitted)">GSTIN
                        can not be empty</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>Street:</label>
                      <input type="text" formControlName="street" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.street.required || (vendorForm.controls.street.pristine && submitted)">Street
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>City:</label>
                      <input type="text" formControlName="city" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.city.required || (vendorForm.controls.city.pristine && submitted)">City
                        can not be empty</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>Country:</label>
                      <input type="text" formControlName="country" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.country.required || (vendorForm.controls.country.pristine && submitted)">Country
                        can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Zipcode:</label>
                      <input type="text" formControlName="zipcode" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.zipcode.required || (vendorForm.controls.zipcode.pristine && submitted)">Zipcode
                        can not be empty</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>Contact Name:</label>
                      <input type="text" formControlName="contactName" class="form-control">
                      <p class="errormessage" *ngIf="vendorFormerrors.contactName.required || (vendorForm.controls.contactName.pristine && submitted)">Contact
                        Name can not be empty</p>
                    </div>
                    <div class="col-md-6">
                      <label>Contact Number:</label>
                      <input type="text" formControlName="contactNumber" [textMask]="{mask: mask, guide: false}" class="form-control" minlength="10"
                        placeholder="Enter Digits">
                      <p class="errormessage" *ngIf="vendorFormerrors.contactNumber.minlength">Please Enter valid Phone Number</p>
                      <p class="errormessage" *ngIf="vendorFormerrors.contactNumber.required || (vendorForm.controls.contactNumber.pristine && submitted)">Contact
                        Number can not be empty</p>
                    </div>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveVendorForm()">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div>
          <table class="pharmacyTable">
            <tr>
              <th>Name:</th>
              <th>Gstin:</th>
              <th>Street:</th>
              <th>City:</th>
              <th>Country:</th>
              <th>ZipCode:</th>
              <th>Contact Name:</th>
              <th>Contact Number:</th>
            </tr>
            <tr *ngFor="let vendor of vendorList | paginate: { id: 'vendorpagination',itemsPerPage: 10, currentPage: vendorpage }  ">
              <td>{{vendor.name}}</td>
              <td>{{vendor.gstin}}</td>
              <td>{{vendor.address.street}}</td>
              <td>{{vendor.address.city}}</td>
              <td>{{vendor.address.country}}</td>
              <td>{{vendor.address.zipcode}}</td>
              <td>{{vendor.contactName}}</td>
              <td>{{vendor.contactNumber}}</td>
            </tr>

          </table>
          <pagination-controls id="vendorpagination" (pageChange)="vendorpage = $event"></pagination-controls>
        </div>
      </div>
      <!-- ****VENDOR FORM(END) ****-->

      <!-- ****PHARMACY DETAILS FORM(START) ****-->
      <div class="tab-pane active" id="6a">
        <form class="logformp">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Pharmacy Name</label>
                <p>{{pharmaData.pharmacyName}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Primary Contact:</label>
                <p>{{pharmaData.primaryContact}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Contact:</label>
                <p>{{pharmaData?pharmaData.alternateContact:''}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Street:</label>
                <p>{{pharmaData.address?pharmaData.address.street:''}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>City:</label>
                <p>{{pharmaData.address?pharmaData.address.city:''}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country:</label>
                <p>{{pharmaData.address?pharmaData.address.country:''}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Zipcode:</label>
                <p>{{pharmaData.address?pharmaData.address.zipcode:''}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email:</label>
                <p>{{pharmaData.email}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Trade License Id:</label>
                <p>{{pharmaData.tradeLicenseId}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>GSTNo.:</label>
                <p>{{pharmaData.gstNo}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Degree file:</label>
                <!-- <p>{{pharmaData.degreeFile}}</p> -->
                <a class="licenseLink" target="_blank" href="https://api.meme.care/file/fileShow?fileId={{pharmaData.degreeFile}}">Download Me</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Drug License:</label>
                <!-- <p>{{pharmaData.drugLicense}}</p> -->
                <a class="licenseLink" target="_blank" href="https://api.meme.care/file/fileShow?fileId={{pharmaData.drugLicense}}">Download
                  Me
                </a>

              </div>
            </div>
          </div>
          <div class="col-md-12" id="pl0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Trade License:</label>
                <a class="licenseLink" target="_blank" href="https://api.meme.care/file/fileShow?fileId={{pharmaData.tradeLicense}}">Download
                  Me
                </a>
                <!-- <p>{{pharmaData.tradeLicense}}</p> -->
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- ****PHARMACYDETAILS FORM(END) ****-->

     <!-- ****USERS FORM(START) ****-->
     <div class="tab-pane" id="7a">
      <div>
        <button class="createform" data-toggle="modal" data-target="#myModal6">+</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal6" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-vertical-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Users</h4>
            </div>
            <div class="modal-body">
              <form [formGroup]="userForm" class="pharmacyitem">
                <div class="row">
                  <!-- <div class="col-md-6">
                    <label>Name:</label>
                    <input formControlName="username" type="text" class="form-control">
                    <p class="errormessage" *ngIf="userFormErrors.username.required || (userForm.controls.username.pristine && submitted)">Name
                      can not be empty</p>
                  </div> -->
                  <div class="col-md-6">
                    <label>Contact Number:</label>
                    <input type="text" formControlName="userNumber" [textMask]="{mask: mask, guide: false}" class="form-control" minlength="10"
                      placeholder="Enter Digits">
                    <p class="errormessage" *ngIf="userFormErrors.userNumber.minlength">Please Enter valid Phone Number</p>
                    <p class="errormessage" *ngIf="userFormErrors.userNumber.required || (userForm.controls.userNumber.pristine && submitted)">Contact
                      Number can not be empty</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label>Role:</label>
                    <select class="form-control" formControlName="role">kkkk
                      <option value="a" [selected]="true" disabled>Choose option</option>
                      <option value="Admin">Admin</option>
                      <option value="Accountant">Accountant</option>
                      <option value="Assistant">Assistant</option>
                    </select>
                    <p class="errormessage" *ngIf="userFormErrors.role.required || (userForm.controls.role.pristine && submitted)">Role
                      can not be empty</p>
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="saveUsersForm()">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div>
        <table class="pharmacyTable">
          <tr>
            <th>Name:</th>
            <th>Contact Number:</th>
            <th>Role:</th>
          </tr>
          <tr *ngFor="let user of userList | paginate: { id: 'userpagination',itemsPerPage: 5, currentPage: userpage }  ">
            <td>{{user.username}}</td>
            <td>{{user.role}}</td>
            <td>{{user.userNumber}}</td>
          </tr>

        </table>
        <pagination-controls id="userpagination" (pageChange)="userpage = $event"></pagination-controls>
      </div>
    </div>
    <!-- ****USERS FORM(END) ****-->


    </div>
  </div>
</div>
<!-- Pharmacy Dashboard -->