/* dashboard css */
.dashboard{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}
form.logformp {
  padding: 5em;
  background: #fff;
}
.formContent {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button.btn.phsigin {
  margin-right: 1em;
  background: #399cb8;
  color: #fff;
  height: 33px;
  width: 79px;
  font-size: 15px;
  margin-top: 2em;
}
button.logout {
  float: right;
  margin: 1em;
  background: transparent;
  border-radius: 50px;
  outline: none;
  height: 35px;
  width: 76px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
/* dashboard css */