<!-- dashboard -->
<div class="dashboard">
    <div class="container">
      <button class="logout">Logout</button>
      <div class="formContent">
        <form class="logformp">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Pharmacy Name</label>
             <p>{{pharmaData.pharmacyName}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Primary Contact:</label>
             <p>{{pharmaData.primaryContact}}</p>
              </div>
            </div>
          </div>
  
  
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Contact:</label>
             <p>{{pharmaData.alternateContact}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Street:</label>
             <p>{{pharmaData.address?pharmaData.address.street:''}}</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>City:</label>
             <p>{{pharmaData.address?pharmaData.address.city:''}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country:</label>
             <p>{{pharmaData.address?pharmaData.address.country:''}}</p>
              </div>
            </div>
          </div>
  
          <div class="col-md-12">
              <div class="col-md-6">
          <div class="form-group">
            <label>Zipcode:</label>
         <p>{{pharmaData.address?pharmaData.address.zipcode:''}}</p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <label>Email:</label>
         <p>{{pharmaData.email}}</p>
          </div>
        </div>
      </div>
          
  
          <div class="text-center">
            <button type="submit" class="btn phsigin" [routerLink]="['/pharmalist']">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- dashboard -->