/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~ngx-toastr/toastr.css';  /* regular style toast*/ 

.errormessage{
    color: red;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
  }
  .black-overlay {
    position: fixed !important;
  }
  ul.ngx-pagination {
    text-align: center;
    margin-top: 1em;
    font-size: 14px;
    padding: 0;
    font-weight: 800;
}
.ngx-pagination .current {
  padding: 5px 9px 2px 9px !important;
  background: #ffffff !important;
  color: #428bca !important;
  cursor: pointer;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #e6e6e6;
  padding: 5px 9px 2px 9px;
}
.ngx-pagination a, .ngx-pagination button {
  padding: 5px 9px 2px 9px !important;

}   
/* :host /deep/ ng2-dropdown-menu div{
	left: inherit !important;
	top: inherit !important;
} */
button.logout {
  float: right;
  margin: 1em;
  background: transparent;
  border-radius: 50px;
  outline: none;
  height: 35px;
  width: 76px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
tag-input tag-input-dropdown /deep/ ng2-dropdown div.ng2-dropdown-menu {
  top: inherit !important;
  left: inherit !important;
}

a.licenseLink {
  color: #ffffffc7;
  margin-left: 1em;
  font-weight: bolder;
  font-size: 14px;
}